[server]
address       = ":9980"
read_timeout  = 8000
write_timeout = 8000

[[jobs]]
name = "job"
[jobs.aws]
access_key = ""
secret_key = ""
region     = "ap-south-1"
[jobs.filters]
name  = "tag:tagname"
value = "tagvalue"
[jobs.instance_tags]
tag          = "ec2-tagname"
exported_tag = "ec2_tagname"
